params {
    //base2fastq args
    run_dir = null
    run_manifest_csv = null
    id = null

    // b2f args
    b2f_args = null

    //container
    container_url = "elembio/bases2fastq"
    container_tag = "latest"

    // Boilerplate options
    outdir                     = './results'
    tracedir                   = "${params.outdir}/pipeline_info"
    enable_conda               = false

    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name            = 'elembio/base2fastq'
    author          = 'Andrew Altomare, Bryan R Lajoie, Rosita Bajari, Max Mass, Kelly Wiseman, Edmund Miller, Ryan Kelley'
    homePage        = 'https://github.com/Elembio/bases2fastq-nf'
    description     = 'FASTQ generation using Bases2Fastq for Element AVITI System'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.0.0'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    test { includeConfig 'conf/test.config' }
    AVITI { includeConfig 'conf/AVITI.config' }
    ElembioCloud { includeConfig 'conf/ElembioCloud.config' }
}
