params {
   config_profile_name        = 'AVITI'
   config_profile_description = 'Full AVITI flowcell, 2x300 spec'

   max_cpus   = 96
   max_memory = '386.GB'
   max_time   = '8.h'
}

process {
    withName: BASES2FASTQ  {
        cpus = 24
        memory = 186.GB
        time = 3.h
        maxRetries = 2
    }
}

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 48
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 48
      uploadMaxThreads = 48
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 100
      uploadChunkSize = 32.MB
   }
   batch {
      maxParallelTransfers = 48
   }
}
