params {
    config_profile_name        = 'ElembioCloud'
    config_profile_description = 'ElembioCloud config'
}

process {
    withName: B2F  {
        cpus = 44
        memory = 176.GB
        disk = 900.GB
        time = 3.h
        maxRetries = 2
    }
}


aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 48
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 48
      uploadMaxThreads = 48
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 100
      uploadChunkSize = 32.MB
   }
   batch {
      maxParallelTransfers = 48
   }
}
