params {
   config_profile_name        = 'ElembioCloud'
   config_profile_description = 'Elembio Cloud AVITI System flowcell 2x75/2x150/2x300 spec'

   max_cpus   = 48
   max_memory = '192.GB'
   max_time   = '8.h'
}

process {

   // memory errors which should be retried. otherwise error out
   errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
   maxRetries    = 1
   maxErrors     = '-1'

   withLabel:error_ignore {
      errorStrategy = 'ignore'
   }
   withLabel:error_retry {
      errorStrategy = 'retry'
      maxRetries    = 3
   }

   withName: 'BASES2FASTQ' {
        cpus = { 
            def cpu_list = [48, 24, 12] // Define CPU scaling sequence
            return task.attempt <= cpu_list.size() ? cpu_list[task.attempt - 1] : 12 // Use last value if attempts exceed list
        }
        memory = { check_max(180.GB, 'memory') } // Keep memory constant
        time   = { check_max( 2.h * task.attempt, 'time'    ) }
        maxRetries = 4
    }
}

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 48
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 48
      uploadMaxThreads = 48
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 100
      uploadChunkSize = 32.MB
   }
   batch {
      maxParallelTransfers = 48
   }
}
