params {
   config_profile_name        = 'ElembioCloud'
   config_profile_description = 'Elembio Cloud AVITI flowcell 2x75/2x150 spec'

    max_cpus   = 48
    max_memory = '192.GB'
    max_time   = '8.h'
}

process {

   // memory errors which should be retried. otherwise error out
   errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
   maxRetries    = 1
   maxErrors     = '-1'

   withLabel:error_ignore {
      errorStrategy = 'ignore'
   }
   withLabel:error_retry {
      errorStrategy = 'retry'
      maxRetries    = 3
   }

   withName: 'BASES2FASTQ' {
      cpus   = { check_max( 44, 'cpus' ) } // only scale up mem, not cpu
      memory = { check_max( 186.GB * task.attempt, 'memory' ) }
      time   = { check_max( 2.h * task.attempt, 'time'    ) }
      maxRetries = 3
   }
}

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 48
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 48
      uploadMaxThreads = 48
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 100
      uploadChunkSize = 32.MB
   }
   batch {
      maxParallelTransfers = 48
   }
}
