params {
    config_profile_name        = 'notaskdir'
    config_profile_description = 'disable task specific publish dir(s)'
}

process {
    publishDir = [
        path: { "${params.outdir}/" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}
