params {
    config_profile_name        = 'Test Custom Manifest profile'
    config_profile_description = 'testing b2f custom RunManifest.csv'

    // Limit resources so that this can run on GitHub Actions
    max_cpus  = 2
    max_memory = '6.GB'
    max_time  = '6.h'

    run_dir = "${baseDir}/data/20230404-bases2fastq-sim-151-151-9-9/"
    
    b2f_container_url = "elembio/bases2fastq"
    b2f_container_tag = "latest"

    b2f_args = "--no-projects --settings 'R1AdapterTrim,true' --settings 'R2AdapterTrim,true' -r ${baseDir}/data/20230404-bases2fastq-sim-151-151-9-9/RunManifest.csv"

    outdir = './results/'
}

process {
    withName: BASES2FASTQ  {
        cpus = 4
        memory = 12.GB
        time = 2.h
    }
}

cleanup = false

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 10
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 10
      uploadMaxThreads = 10
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}
