params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'basic test profile'

    // Limit resources so that this can run on GitHub Actions
    max_cpus  = 2
    max_memory = '6.GB'
    max_time  = '6.h'

    b2f_run_dir = "${baseDir}/data/20230404-bases2fastq-sim-151-151-9-9/"
    
    b2f_container_url = "elembio/bases2fastq"
    b2f_container_tag = "latest"

    b2f_args = ""
    legacy_fastq = true
    detect_adapters = true
    exclude_tile= ["L1R02C..S.","L2R01C..S."]
    include_tile=["L1R..C1.S."]
    filter_mask="I1:Y4N*"
    flowcell_id="fc-from-params-1"
    force_index_orientation=true
    num_unassigned=45 
    qc_only= false
    run_manifest=""
    settings=["I1Fastq,True", "I2Fastq,True"]
    split_lanes=false



    outdir = './local-results/'
}

process {
    withName: BASES2FASTQ  {
        cpus = 4
        memory = 12.GB
        time = 2.h
    }
}

cleanup = false

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 10
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 10
      uploadMaxThreads = 10
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}
